.width-all {
	width: 100%;
}

.without-margin {
	margin: 0 !important;
}

.login-panel {
	width: 95%;
	max-width: 500px;
	margin: auto;
}

.submenu li {
	text-decoration: none;
	list-style: none;
}

.btn-red-stripped {
	background-color: #C12F2F !important;
    border-radius: 10px !important;
    border-left: solid 5px #333 !important;
    color: white !important;
}

.btn-red-stripped:hover {
	color: black !important;
	background-color: #B94646 !important;
	border-left: solid 5px #5D5D5D !important;
}

.navbar-static-side ul li.active a{
    background: none;
}

.navbar-static-side ul li.active>a {
    background: #AB3E3E;
    transition: 0.2s all ease-in-out;
    outline: none;
    color: #FFF;
}

.grid-view table.items tr.odd {
    background: #F4E5E6;
}

.form-body hr {
	border: solid 1px #999;
	margin-top: 0;
}

.imagen-modelo {
	max-width: 300px;
	border: solid 1px #AB3E3E;
	border-radius: 5px;
	background-color: white;
	margin-top: 1em;
	padding: 10px;
}

.inline-block {
	display: inline-block;
}

.wrapper-parent {
	height: 100%;
}

#wrapper {
	height: 100% !important;
}

#page-wrapper {
	height: 100% !important;
}

.page-content {
	height: 100% !important;
}

.align-right {
	text-align: right;
}

a#logo {
	padding: 5px;
}

ul ul {
	text-decoration: none;
}

ul.submenu li {
	padding: 10px 0;
}

ul.submenu li.submenu-active {
	background-color: #A56464;
}

.submenu {
	display: none;
}

.navbar-static-side ul li a {
	padding: 15px !important;
}

table.detail-view tr.odd {
    background: #F4E5E6;
}

#content {
	margin-bottom: 80px;
}

.btn-tin {
	padding: 0px 5px !important;
    margin-left: 5px;
}

.panel-ordenes {
	font-size: 9pt;
}

.ordenes-pedido-table th, .ordenes-pedido-table td{
	text-align: center;
	padding: 0px !important;
}

.padding-top {
	padding-top: 1.5em;
}

.link-button {
	border: solid 2px #E99299;
	font-size: 11pt;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px
}